.addtocart-button {
    border: 0.3rem solid #0A9396;
    background-color: #94D2BD;
    border-radius: 0.4rem;
    cursor: pointer;
}

.addtocart-name {
    color: #001219;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.addtocart-plusminus {
    border: 0.1rem solid #0A9396;
    border-radius: 0.2rem;
    background-color: #94D2BD;
    cursor: pointer;
    text-align: center;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addtocart-plusminusdiv {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 5rem;
    height: 1rem;
    background-color: #E9D8A6;
}

.addtocart-plusminusicon {
    font-weight: bold;
}